* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  width: 100%;
  background-color: rgb(114, 114, 242);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 46px;
  height: 45px;
  display: flex;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 70%;
}

ul li {
  display: inline-block;
  list-style: none;
}

li a {
  color: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
}

a.active,
a:hover {
  background-color: #1b9bff;
  transition: 0.5s;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: none;
  outline: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #333;
  width: 100%;
  color: #efefef;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer div {
  text-align: center;
}

.footer h3 {
  margin-bottom: 10px;
  letter-spacing: 1;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 5px;
}

.col-1 a:hover {
  border-bottom: 2px solid white;
  background-color: transparent;
}
